
# Sytem variables
ADMIN_EMAIL=zild.fyu@gmail.com
ADMIN_PASSWORD=password

# Email variables
ADMIN_FROM=noreply@nemify.com

INTERNAL_SECRET=secret

NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Database variables
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=nemify-db

DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}

# Better-auth
BETTER_AUTH_URL=http://localhost:3000

# SMTP Credentials
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=nemify
SMTP_PASS=nemify-smptp

# SendGrid Credentials
SENDGRID_API_KEY=

#Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=